@font-face {
    font-family: 'Sohne';
    src: url('fonts/Sohne-ExtraLight.woff2') format('woff2'),
        url('fonts/Sohne-ExtraLight.woff') format('woff'),
        url('fonts/Sohne-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sohne';
    src: url('fonts/Sohne-ExtraLightItalic.woff2') format('woff2'),
        url('fonts/Sohne-ExtraLightItalic.woff') format('woff'),
        url('fonts/Sohne-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Sohne';
    src: url('fonts/Sohne-Light.woff2') format('woff2'),
        url('fonts/Sohne-Light.woff') format('woff'),
        url('fonts/Sohne-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sohne';
    src: url('fonts/Sohne-LightItalic.woff2') format('woff2'),
        url('fonts/Sohne-LightItalic.woff') format('woff'),
        url('fonts/Sohne-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Sohne';
    src: url('fonts/Sohne-Regular.woff2') format('woff2'),
        url('fonts/Sohne-Regular.woff') format('woff'),
        url('fonts/Sohne-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sohne';
    src: url('fonts/Sohne-RegularItalic.woff2') format('woff2'),
        url('fonts/Sohne-RegularItalic.woff') format('woff'),
        url('fonts/Sohne-RegularItalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Sohne';
    src: url('fonts/Sohne-Medium.woff2') format('woff2'),
        url('fonts/Sohne-Medium.woff') format('woff'),
        url('fonts/Sohne-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sohne';
    src: url('fonts/Sohne-MediumItalic.woff2') format('woff2'),
        url('fonts/Sohne-MediumItalic.woff') format('woff'),
        url('fonts/Sohne-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Sohne';
    src: url('fonts/Sohne-SemiBold.woff2') format('woff2'),
        url('fonts/Sohne-SemiBold.woff') format('woff'),
        url('fonts/Sohne-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sohne';
    src: url('fonts/Sohne-SemiBoldItalic.woff2') format('woff2'),
        url('fonts/Sohne-SemiBoldItalic.woff') format('woff'),
        url('fonts/Sohne-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Sohne';
    src: url('fonts/Sohne-Bold.woff2') format('woff2'),
        url('fonts/Sohne-Bold.woff') format('woff'),
        url('fonts/Sohne-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sohne';
    src: url('fonts/Sohne-BoldItalic.woff2') format('woff2'),
        url('fonts/Sohne-BoldItalic.woff') format('woff'),
        url('fonts/Sohne-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Sohne';
    src: url('fonts/Sohne-ExtraBold.woff2') format('woff2'),
        url('fonts/Sohne-ExtraBold.woff') format('woff'),
        url('fonts/Sohne-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sohne';
    src: url('fonts/Sohne-ExtraBoldItalic.woff2') format('woff2'),
        url('fonts/Sohne-ExtraBoldItalic.woff') format('woff'),
        url('fonts/Sohne-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Sohne';
    src: url('fonts/Sohne-Black.woff2') format('woff2'),
        url('fonts/Sohne-Black.woff') format('woff'),
        url('fonts/Sohne-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sohne';
    src: url('fonts/Sohne-BlackItalic.woff2') format('woff2'),
        url('fonts/Sohne-BlackItalic.woff') format('woff'),
        url('fonts/Sohne-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}
