@font-face {
    font-family: 'Sul Mono';
    src: url('fonts/SulMono-Light.woff2') format('woff2'),
        url('fonts/SulMono-Light.woff') format('woff'),
        url('fonts/SulMono-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sul Mono';
    src: url('fonts/SulMono-Regular.woff2') format('woff2'),
        url('fonts/SulMono-Regular.woff') format('woff'),
        url('fonts/SulMono-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sul Mono';
    src: url('fonts/SulMono-Medium.woff2') format('woff2'),
        url('fonts/SulMono-Medium.woff') format('woff'),
        url('fonts/SulMono-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sul Mono';
    src: url('fonts/SulMono-Bold.woff2') format('woff2'),
        url('fonts/SulMono-Bold.woff') format('woff'),
        url('fonts/SulMono-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sul Mono';
    src: url('fonts/SulMono-Black.woff2') format('woff2'),
        url('fonts/SulMono-Black.woff') format('woff'),
        url('fonts/SulMono-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
