@font-face {
  font-family: "GT Alpina Fine";
  src: url("https://cdn.jsdelivr.net/gh/johanna-fageras/static@latest/fonts/gt-alpina/gt-alpina-fine/fonts/GTAlpinaFine-Thin.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/johanna-fageras/static@latest/fonts/gt-alpina/gt-alpina-fine/fonts/GTAlpinaFine-Thin.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/johanna-fageras/static@latest/fonts/gt-alpina/gt-alpina-fine/fonts/GTAlpinaFine-Thin.ttf")
      format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GT Alpina Fine";
  src: url("https://cdn.jsdelivr.net/gh/johanna-fageras/static@latest/fonts/gt-alpina/gt-alpina-fine/fonts/GTAlpinaFine-ThinItalic.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/johanna-fageras/static@latest/fonts/gt-alpina/gt-alpina-fine/fonts/GTAlpinaFine-ThinItalic.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/johanna-fageras/static@latest/fonts/gt-alpina/gt-alpina-fine/fonts/GTAlpinaFine-ThinItalic.ttf")
      format("truetype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "GT Alpina Fine";
  src: url("https://cdn.jsdelivr.net/gh/johanna-fageras/static@latest/fonts/gt-alpina/gt-alpina-fine/fonts/GTAlpinaFine-Light.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/johanna-fageras/static@latest/fonts/gt-alpina/gt-alpina-fine/fonts/GTAlpinaFine-Light.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/johanna-fageras/static@latest/fonts/gt-alpina/gt-alpina-fine/fonts/GTAlpinaFine-Light.ttf")
      format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GT Alpina Fine";
  src: url("https://cdn.jsdelivr.net/gh/johanna-fageras/static@latest/fonts/gt-alpina/gt-alpina-fine/fonts/GTAlpinaFine-LightItalic.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/johanna-fageras/static@latest/fonts/gt-alpina/gt-alpina-fine/fonts/GTAlpinaFine-LightItalic.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/johanna-fageras/static@latest/fonts/gt-alpina/gt-alpina-fine/fonts/GTAlpinaFine-LightItalic.ttf")
      format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "GT Alpina Fine";
  src: url("https://cdn.jsdelivr.net/gh/johanna-fageras/static@latest/fonts/gt-alpina/gt-alpina-fine/fonts/GTAlpinaFine-Regular.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/johanna-fageras/static@latest/fonts/gt-alpina/gt-alpina-fine/fonts/GTAlpinaFine-Regular.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/johanna-fageras/static@latest/fonts/gt-alpina/gt-alpina-fine/fonts/GTAlpinaFine-Regular.ttf")
      format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GT Alpina Fine";
  src: url("https://cdn.jsdelivr.net/gh/johanna-fageras/static@latest/fonts/gt-alpina/gt-alpina-fine/fonts/GTAlpinaFine-RegularItalic.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/johanna-fageras/static@latest/fonts/gt-alpina/gt-alpina-fine/fonts/GTAlpinaFine-RegularItalic.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/johanna-fageras/static@latest/fonts/gt-alpina/gt-alpina-fine/fonts/GTAlpinaFine-RegularItalic.ttf")
      format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "GT Alpina Fine";
  src: url("https://cdn.jsdelivr.net/gh/johanna-fageras/static@latest/fonts/gt-alpina/gt-alpina-fine/fonts/GTAlpinaFine-Medium.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/johanna-fageras/static@latest/fonts/gt-alpina/gt-alpina-fine/fonts/GTAlpinaFine-Medium.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/johanna-fageras/static@latest/fonts/gt-alpina/gt-alpina-fine/fonts/GTAlpinaFine-Medium.ttf")
      format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GT Alpina Fine";
  src: url("https://cdn.jsdelivr.net/gh/johanna-fageras/static@latest/fonts/gt-alpina/gt-alpina-fine/fonts/GTAlpinaFine-MediumItalic.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/johanna-fageras/static@latest/fonts/gt-alpina/gt-alpina-fine/fonts/GTAlpinaFine-MediumItalic.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/johanna-fageras/static@latest/fonts/gt-alpina/gt-alpina-fine/fonts/GTAlpinaFine-MediumItalic.ttf")
      format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "GT Alpina Fine";
  src: url("https://cdn.jsdelivr.net/gh/johanna-fageras/static@latest/fonts/gt-alpina/gt-alpina-fine/fonts/GTAlpinaFine-Bold.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/johanna-fageras/static@latest/fonts/gt-alpina/gt-alpina-fine/fonts/GTAlpinaFine-Bold.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/johanna-fageras/static@latest/fonts/gt-alpina/gt-alpina-fine/fonts/GTAlpinaFine-Bold.ttf")
      format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GT Alpina Fine";
  src: url("https://cdn.jsdelivr.net/gh/johanna-fageras/static@latest/fonts/gt-alpina/gt-alpina-fine/fonts/GTAlpinaFine-BoldItalic.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/johanna-fageras/static@latest/fonts/gt-alpina/gt-alpina-fine/fonts/GTAlpinaFine-BoldItalic.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/johanna-fageras/static@latest/fonts/gt-alpina/gt-alpina-fine/fonts/GTAlpinaFine-BoldItalic.ttf")
      format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
