@font-face {
  font-family: 'Barley Script';
  src: url('./fonts/BarleyScript-Regular.woff2') format('woff2'),
    url('./fonts/BarleyScript-Regular.woff') format('woff'),
    url('./fonts/BarleyScript-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
