@font-face {
  font-family: "GT Standard S Compressed";
  src: url("https://cdn.jsdelivr.net/gh/johanna-fageras/static@latest/fonts/gt-standard/gt-standard-s-compressed/fonts/GTStandard-SCompressedBlack.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/johanna-fageras/static@latest/fonts/gt-standard/gt-standard-s-compressed/fonts/GTStandard-SCompressedBlack.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/johanna-fageras/static@latest/fonts/gt-standard/gt-standard-s-compressed/fonts/GTStandard-SCompressedBlack.ttf")
      format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GT Standard S Compressed";
  src: url("https://cdn.jsdelivr.net/gh/johanna-fageras/static@latest/fonts/gt-standard/gt-standard-s-compressed/fonts/GTStandard-SCompressedBlackOblique.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/johanna-fageras/static@latest/fonts/gt-standard/gt-standard-s-compressed/fonts/GTStandard-SCompressedBlackOblique.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/johanna-fageras/static@latest/fonts/gt-standard/gt-standard-s-compressed/fonts/GTStandard-SCompressedBlackOblique.ttf")
      format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "GT Standard S Compressed";
  src: url("https://cdn.jsdelivr.net/gh/johanna-fageras/static@latest/fonts/gt-standard/gt-standard-s-compressed/fonts/GTStandard-SCompressedBold.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/johanna-fageras/static@latest/fonts/gt-standard/gt-standard-s-compressed/fonts/GTStandard-SCompressedBold.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/johanna-fageras/static@latest/fonts/gt-standard/gt-standard-s-compressed/fonts/GTStandard-SCompressedBold.ttf")
      format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GT Standard S Compressed";
  src: url("https://cdn.jsdelivr.net/gh/johanna-fageras/static@latest/fonts/gt-standard/gt-standard-s-compressed/fonts/GTStandard-SCompressedBoldOblique.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/johanna-fageras/static@latest/fonts/gt-standard/gt-standard-s-compressed/fonts/GTStandard-SCompressedBoldOblique.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/johanna-fageras/static@latest/fonts/gt-standard/gt-standard-s-compressed/fonts/GTStandard-SCompressedBoldOblique.ttf")
      format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "GT Standard S Compressed";
  src: url("https://cdn.jsdelivr.net/gh/johanna-fageras/static@latest/fonts/gt-standard/gt-standard-s-compressed/fonts/GTStandard-SCompressedHeavy.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/johanna-fageras/static@latest/fonts/gt-standard/gt-standard-s-compressed/fonts/GTStandard-SCompressedHeavy.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/johanna-fageras/static@latest/fonts/gt-standard/gt-standard-s-compressed/fonts/GTStandard-SCompressedHeavy.ttf")
      format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GT Standard S Compressed";
  src: url("https://cdn.jsdelivr.net/gh/johanna-fageras/static@latest/fonts/gt-standard/gt-standard-s-compressed/fonts/GTStandard-SCompressedHeavyOblique.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/johanna-fageras/static@latest/fonts/gt-standard/gt-standard-s-compressed/fonts/GTStandard-SCompressedHeavyOblique.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/johanna-fageras/static@latest/fonts/gt-standard/gt-standard-s-compressed/fonts/GTStandard-SCompressedHeavyOblique.ttf")
      format("truetype");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "GT Standard S Compressed";
  src: url("https://cdn.jsdelivr.net/gh/johanna-fageras/static@latest/fonts/gt-standard/gt-standard-s-compressed/fonts/GTStandard-SCompressedLight.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/johanna-fageras/static@latest/fonts/gt-standard/gt-standard-s-compressed/fonts/GTStandard-SCompressedLight.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/johanna-fageras/static@latest/fonts/gt-standard/gt-standard-s-compressed/fonts/GTStandard-SCompressedLight.ttf")
      format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GT Standard S Compressed";
  src: url("https://cdn.jsdelivr.net/gh/johanna-fageras/static@latest/fonts/gt-standard/gt-standard-s-compressed/fonts/GTStandard-SCompressedLightOblique.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/johanna-fageras/static@latest/fonts/gt-standard/gt-standard-s-compressed/fonts/GTStandard-SCompressedLightOblique.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/johanna-fageras/static@latest/fonts/gt-standard/gt-standard-s-compressed/fonts/GTStandard-SCompressedLightOblique.ttf")
      format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "GT Standard S Compressed";
  src: url("https://cdn.jsdelivr.net/gh/johanna-fageras/static@latest/fonts/gt-standard/gt-standard-s-compressed/fonts/GTStandard-SCompressedMedium.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/johanna-fageras/static@latest/fonts/gt-standard/gt-standard-s-compressed/fonts/GTStandard-SCompressedMedium.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/johanna-fageras/static@latest/fonts/gt-standard/gt-standard-s-compressed/fonts/GTStandard-SCompressedMedium.ttf")
      format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GT Standard S Compressed";
  src: url("https://cdn.jsdelivr.net/gh/johanna-fageras/static@latest/fonts/gt-standard/gt-standard-s-compressed/fonts/GTStandard-SCompressedMediumOblique.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/johanna-fageras/static@latest/fonts/gt-standard/gt-standard-s-compressed/fonts/GTStandard-SCompressedMediumOblique.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/johanna-fageras/static@latest/fonts/gt-standard/gt-standard-s-compressed/fonts/GTStandard-SCompressedMediumOblique.ttf")
      format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "GT Standard S Compressed";
  src: url("https://cdn.jsdelivr.net/gh/johanna-fageras/static@latest/fonts/gt-standard/gt-standard-s-compressed/fonts/GTStandard-SCompressedRegular.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/johanna-fageras/static@latest/fonts/gt-standard/gt-standard-s-compressed/fonts/GTStandard-SCompressedRegular.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/johanna-fageras/static@latest/fonts/gt-standard/gt-standard-s-compressed/fonts/GTStandard-SCompressedRegular.ttf")
      format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GT Standard S Compressed";
  src: url("https://cdn.jsdelivr.net/gh/johanna-fageras/static@latest/fonts/gt-standard/gt-standard-s-compressed/fonts/GTStandard-SCompressedRegularOblique.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/johanna-fageras/static@latest/fonts/gt-standard/gt-standard-s-compressed/fonts/GTStandard-SCompressedRegularOblique.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/johanna-fageras/static@latest/fonts/gt-standard/gt-standard-s-compressed/fonts/GTStandard-SCompressedRegularOblique.ttf")
      format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "GT Standard S Compressed";
  src: url("https://cdn.jsdelivr.net/gh/johanna-fageras/static@latest/fonts/gt-standard/gt-standard-s-compressed/fonts/GTStandard-SCompressedSemibold.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/johanna-fageras/static@latest/fonts/gt-standard/gt-standard-s-compressed/fonts/GTStandard-SCompressedSemibold.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/johanna-fageras/static@latest/fonts/gt-standard/gt-standard-s-compressed/fonts/GTStandard-SCompressedSemibold.ttf")
      format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GT Standard S Compressed";
  src: url("https://cdn.jsdelivr.net/gh/johanna-fageras/static@latest/fonts/gt-standard/gt-standard-s-compressed/fonts/GTStandard-SCompressedSemiboldOblique.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/johanna-fageras/static@latest/fonts/gt-standard/gt-standard-s-compressed/fonts/GTStandard-SCompressedSemiboldOblique.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/johanna-fageras/static@latest/fonts/gt-standard/gt-standard-s-compressed/fonts/GTStandard-SCompressedSemiboldOblique.ttf")
      format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
